name: CICD with ArgoCD
on: push
jobs:
 job-cicd:
  env:
   imagename: "cicdimage"
  runs-on: ubuntu-latest
  steps:
  - name: Checkout repo
    uses: action/checkout@v6
  - name: Setup Java 17
    uses: actions/setup-java@v5
    with:
     distribution: 'temurin'
     java-version: '17'
  - name: Install docker
    uses: docker/setup-buildx-action@v3
  - name: Build Java code 
    run: mvn package
  - name: Login to dockerhub
    uses: docker/login-action@v3
    with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
  - name: build image and push the image
    uses: docker/build-push-action@v6  # docker build -t sonal04/cicdimage:2 .
    with: 
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{env.imagename}}:${{github.run_number}}
